{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="./public/css/style.css"/>
{% endblock %} 
{% block content %}
    {% if session.message == "Vous devez être inscrit et connecté pour pouvoir commenter" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" auto-close="3000">
            <span>Vous devez être inscrit et connecté pour pouvoir poster</span>
        </div>
    {% endif %}
    {% if session.error == "le formulaire est incomplet" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" auto-close="3000">
            <span>le formulaire est incomplet</span>
        </div>
    {% endif %}
    <div class="container">
    {% if post is defined %}
        {%  for attribute in post %}
        <div class="container mt-4 mb-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ attribute.title }}</h5>
                    <p class="card-text text-muted">{{ attribute.slug }}</p>
                    <p class="card-text text">{{ attribute.intro }}</p>
                    <div class="card-body">
                        {{ attribute.content }}
                    </div>
                    <div class="card-footer text-muted">
                        <p>Publié le : {{ attribute.creationDate|date("d/m/Y \\à H:i") }}</p>
                        <p>Rédigé par : {{ author }}</p>
                        {% if attribute.lastUpdate  is not null %}<p>Dernière modification le : {{ attribute.lastUpdate|date("d/m/Y \\à H:i") }}</p>{% endif %}
                    </div>
                </div>
            </div>
        </div>        
        
        {%  for field in commentStatus %}

        {% if attribute.postId == field.post %}
            <span class="title mt-4"> Commentaire de  {% set i = i + 1 %}{{ commentators[i - 1] }} : {{ field.content }} </span></br>
        {% endif %}
        
        {% endfor %}
        {% endfor %}
        {{ addCommentForm|raw }}

    {% endif %}

    
    <div>
{% endblock %}
{% block script %} 
    {{ parent() }}
{% endblock %}
