{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="./public/css/style.css"/>
{% endblock %} 
{% block content %}
    <div class="container">
    {% if post is defined %}
        {%  for attribute in post %}
        <div class="container mt-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ attribute.title }}</h5>
                    <p class="card-text text-muted">{{ attribute.slug }}</p>
                    <p class="card-text text">{{ attribute.intro }}</p>
                    <div class="card-body">
                        {{ attribute.content }}
                    </div>
                    <div class="card-footer text-muted">
                        <p>Publié le : {{ attribute.creationDate|date("d/m/Y \\à H:i") }}</p>
                        <p>Rédigé par : {{ author }}</p>
                    </div>
                </div>
            </div>
        </div>        
   
        {%  for field in commentStatus %}
        {% if attribute.postId == field.post %}
            <span class="title"> Commentaires de {{ field.author }} : {{ field.content }} </span></br>
        {% endif %}

        {% endfor %}
        {% endfor %}
        {{ addCommentForm|raw }}

    {% endif %}

    
    <div>
{% endblock %}
