{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %} 
{% block content %}
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Pseudo</th>
        <th>Statut</th>
        <th>Changer le statut</th>
        <th>Role</th>
        <th>Changer le rôle</th>
        <th>Date d'inscription</th>
        <th>Actions</th>
    </thead>

    {%  for user in users %}
        <tr>
            <td>{{ user.userId }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.publicName }}</td>
            <td>{{ user.userStatus}}</td>
            <td>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" role="switch" id="customSwitch{{ user.userId }}" {% if user.userStatus == 'approuved' %} checked {% else %} '' {% endif %} data-id="{{ user.userId }}">
                    <label class="form-check-label" for="customSwitch{{ user.userId }}"></label>
                </div>
            </td>
            <td>{{ user.userRole }}</td>
            <td>
                <button type="button" class="btn btn-success" id="buttonUpgrade{{ user.userId }}" data-id="{{ user.userId }}">Rendre Modérateur</button>
            </td>
            <td>{{ user.creationDate }}</td>
            <td>
                <a href="https://localhost/blogpost/index.php?p=admin/updateUser/{{ user.userId }}" class="btn btn-warning">Modifier</a>
                <a href="https://localhost/blogpost/index.php?p=admin/deleteUser/{{ user.userId }}"class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block script %}
    <script src="./public/javascript/adminUser.js"></script>
{% endblock %}