{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="./vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="./public/css/style.css"/>
{% endblock %} 
{% block content %}
    {% if session.message == "Le commentaire a été modifié avec succès" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" auto-close="5000">
            <span>Le commentaire a été modifié avec succès</span>
        </div> 
        {{ sessionStopMessage }}            
    {% endif %} 
    <h1 class="text-center mb-4">Gestion des commentaires</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Date de rédaction</th>
                <th>Statut</th>
                {#<th>Changer le statut</th>#}
                <th class="text-center">Actions</th>
            </thead>
            {%  for comment in comments %}
                <tr>
                    <td>{{ comment.commentId }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{% set i = i + 1 %}{{ commentatorPublicNameList[i - 1] }}</td>
                    <td>{{ comment.creationDate }}</td>
                    <td>{% if comment.commentStatus == 1 %} Approuvé {% else %} à valider {% endif %}</td>
                    {#<td>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" role="switch" id="customSwitch{{ comment.commentId }}" {% if comment.commentStatus == 1 %} checked {% else %} '' {% endif %} data-id="{{ comment.commentId }}">
                            <label class="form-check-label" for="customSwitch{{ comment.commentId }}"></label>
                        </div>
                    </td>#}
                    <td class="">
                        <a href="https://localhost/blogpost/index.php?p=admin/updateComment/{{ comment.commentId }}" class="btn btn-warning m-2">Modifier</a>
                        <a href="https://localhost/blogpost/index.php?p=admin/deleteComment/{{ comment.commentId }}"class="btn btn-danger m-2">Supprimer</a>
                        <a href="https://localhost/blogpost/index.php?p=admin/approveComment/{{ comment.commentId }}"class="btn btn-success m-2">Approuver</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="text-center">
        <img src="./public/images/admin.png" alt="admin" class="img-fluid">
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="./public/javascript/admin.js"></script>
{% endblock %}